main {
    background-color: rgb(9, 39, 73);
    height: 100vh;
    padding: 2.6em 1.2em;
    color: #fff;
    & h2 {
        margin: 0 0 2em 0;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 400;
    }
    & aside {
        margin-bottom: 4em;
        @include flexy($dir: row, $just: space-between);
        .total-dashboard {
            position: relative;
            width: 150px;
            height: 85px;
            .fas {
                position: absolute;
                top: 10px;
                left: 10px;
                font-size: 1.2rem;
            }
            span:nth-child(2) {
                position: absolute;
                right: 10px;
                top: 5px;
                font-size: 1.7rem;
                font-weight: lighter;
            }
            span:nth-child(3) {
                position: absolute;
                bottom: 10px;
                right: 5px;
                font-size: .7rem;
                text-transform: uppercase;
            }
        }
        .order {
            background-color: rgb(88, 181, 251);
        }
        .completed {
            background-color: rgb(107, 202, 86);
        }
        .pending {
            background-color: rgb(123, 102, 243);
        }
        .cancelled {
            background-color: rgb(239, 102, 116);
        }
    }
    & canvas {
        max-width: 300px;
        max-height: 230px;
    }
    & section {
        @include gridy($col: repeat(2, minmax(280px, 300px)), $rows: repeat(2, minmax(200px, 250px)), $gap: 40px);
    }
}